@import "tailwindcss";


@theme {
    --color-primary: oklch(35.23% 0 0);
    --color-secondary: oklch(55.32% 0.0131 84.59);
    --font-montserrat: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.landscape-style {
  max-width: 64rem;
}
  
.portrait-style {
  max-width: 36rem
}