@import "tailwindcss";


@theme {
    --color-primary: #0F0F0F;  /* Darker */
    --color-secondary: #FAFAFA;  /* Lighter */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.landscape-style {
  max-width: 64rem;
}
  
.portrait-style {
  max-width: 36rem
}