@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

.landscape-style {
    max-width: 64rem;
  }
  
  .portrait-style {
    max-width: 36rem
  }